body {
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 113px;
    height: 110px;
}

/* 획순 애니메이션 */
.stroke-container {
    position: relative;
    width: 114px;
    height: 110px;
    margin: 0 auto
}

.sprite-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 114px;
    height: 110px;
    background-repeat: no-repeat;
    overflow: hidden
}

.frame-1 {
    background-position: -4px -24.5px;
    z-index: 1;
    animation: showFrame1 2.5s infinite
}

.frame-2 {
    background-position: -117.5px -24.5px;
    z-index: 2;
    animation: showFrame2 2.5s infinite
}

.frame-3 {
    background-position: -231px -24.5px;
    z-index: 3;
    animation: showFrame3 2.5s infinite
}

.frame-4 {
    background-position: -345.5px -24.5px;
    z-index: 4;
    animation: showFrame4 2.5s infinite
}

.frame-5 {
    background-position: -460px -24.5px;
    z-index: 5;
    animation: showFrame5 2.5s infinite
}

@keyframes showFrame1 {
    0%, 100% {
        opacity: 1
    }
}

@keyframes showFrame2 {
    0%, 24.99% {
        opacity: 0
    }
    25%, 100% {
        opacity: 1
    }
}

@keyframes showFrame3 {
    0%, 49.99% {
        opacity: 0
    }
    50%, 100% {
        opacity: 1
    }
}

@keyframes showFrame4 {
    0%, 74.99% {
        opacity: 0
    }
    75%, 100% {
        opacity: 1
    }
}

@keyframes showFrame5 {
    0%, 79.99% {
        opacity: 0
    }
    80%, 100% {
        opacity: 1
    }
}